<div class="item-menu">
  <div class="item-menu__filters">
    <app-filters [filters]="keys" [filtersApplied]="filtersApplied"
      (filtersUpdate)="onAction(actionsEnum.filter, $event)">
    </app-filters>
  </div>
  <div>
    <app-sort-items [keys]="keys" [keySelected]="keySelected" [direction]="direction"
      (sortChanged)="onAction(actionsEnum.sort, $event)"></app-sort-items>
  </div>
  <div class="ui labeled button item-menu__favorites" (click)="onAction(actionsEnum.favorites)">
    <div class="ui yellow button">
      <i class="star icon"></i> {{ 'MENU.favorites' | translate}}
    </div>
    <a class="ui basic yellow left pointing label item-menu__favorites-counter">
      {{ favorites }}
    </a>
  </div>
</div>
