@import "src/styles/core.scss";

.item-menu {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  padding: 0 32px;

  &__favorites {
    &-counter {
      width: 40px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }

  > * {
    margin: 16px;
  }

  &__filters {
    margin-right: auto !important;
  }
}
