@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.card-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;

  .card {
    @include card;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 575px;
    margin: 16px;
    &__img {
      border-radius: $border-radius;
      height: 250px;
      object-fit: cover;
    }

    &__body {
      max-height: 250px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      margin-bottom: auto;

      &-title {
        margin-bottom: 8px;
      }

      &-description {
        color: $color-dark-gray;
      }
    }

    &__email {
      border-top: $border;
      border-bottom: $border;
      padding: 8px;
      display: flex;
      align-items: center;
      i {
        margin-right: 8px;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      &-price {
        display: flex;
        align-items: center;
      }

      &-fav {
        display: flex;
        align-items: center;
        color: $color-light-gray;
        cursor: pointer;

        &--selected {
          color: $color-yellow;
        }

        i {
          margin-right: 8px;
        }
      }
    }
  }
}
