<div class="card-list">
  <ng-container *ngFor="let item of items">
    <div class="card">
      <img [src]="item.image" class="card__img">
      <div class="card__body">
        <div class="card__body-title">{{ item.title }}</div>
        <div class="card__body-description">
          {{ item.description }}
        </div>
      </div>
      <div class="card__email">
        <div>
          <a>{{ item.email }}</a>
        </div>
      </div>
      <div class="card__footer">
        <span class="card__footer-price">
          <i class="dollar sign icon"></i>
          {{ item.price }}
        </span>
        <span class="car__footer-fav" (click)="onFavClicked(item)">
          <i class="star icon" [ngClass]="{'yellow': item.fav}"></i>
          {{ 'ITEM.favorite' | translate}}
        </span>
      </div>
    </div>
  </ng-container>
</div>
