.item-manager {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    // justify-content: center;
    overflow: auto;

    .item {
      width: 100%;
      flex: 1;
    }

    &-pagination {
      margin: 16px;
    }
  }

  &__pagination {
    padding: 16px;
  }

  &__loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__no-items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__error {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
