@import "src/styles/variables.scss";

.item-manager {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: auto;

    .item {
      width: 100%;
      flex: 1;
    }

    &-pagination {
      margin: 16px;
    }
  }

  &__pagination {
    padding: 16px;
  }

  &__information {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
      display: flex;
      align-items: center;
    }

    &-subtitle {
      margin-top: 8px;
      color: $color-light-gray;
    }

    &-button {
      margin-top: 8px;
    }
  }
}
