<div class="item-manager">
  <ng-container *ngIf="!(isLoading$ | async); else loading">
    <ng-container *ngIf="!errorMsg; else error">
      <div>
        <app-item-menu (action)="onAction($event)" [direction]="direction" [keySelected]="keySelected"
          [filtersApplied]="filters" [favorites]="getFavoritesAmount()">
        </app-item-menu>
      </div>
      <div class="item-manager__container">
        <ng-container *ngIf="itemsPage && itemsPage[currentPage]; else noItems">
          <app-list-cards class="item" [items]="itemsPage[currentPage]" (clickFav)="onToggleFav($event)">
          </app-list-cards>
          <div class="item-manager__pagination" *ngIf="pages > 1 ">
            <app-pagination [pagesAmount]="pages" [pageSelected]="currentPage" (pageChanged)="onChangePage($event)">
            </app-pagination>
          </div>
        </ng-container>
      </div>
      <ng-template #noItems>
        <div class="item-manager__information">
          <div class="title item-manager__information-title">
            <i class="material-icons">search</i>
            <span>
              {{ 'NO_RESULTS.title' | translate}}
            </span>
          </div>
          <div class="item-manager__information-subtitle">
            <span>
              {{ 'NO_RESULTS.description' | translate}}
            </span>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</div>


<app-favorite-items-modal *ngIf="openFavoriteModal" (clickClose)="onShowFavoriteModal(false)"
  (clickItem)="onToggleFav($event)" [items]="getFavoriteItems()">
</app-favorite-items-modal>


<ng-template #loading>
  <div class="item-manager__information">
      <i class="spinner"></i>
  </div>
</ng-template>

<ng-template #error>
  <div class="item-manager__information">
    <div class="title item-manager__information-title">
      <i class="material-icons">cancel</i>
        {{ 'ERROR.title' | translate }}
    </div>
    <div class="item-manager__information-subtitle">
      <span>
        {{ errorMsg | translate }}
      </span>
    </div>
    <div>
      <button class="btn item-manager__information-button" (click)="getItems()">
        {{ 'ERROR.retry' | translate }}
      </button>
    </div>
  </div>
</ng-template>
