@import "./variables.scss";


@mixin btn {
  font-family: "Roboto";
  height: 40px;
  border-radius: 8px;
  background-color: $color-blue;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.btn {
  @include btn;
  padding: 0 16px;

  > :not(:last-child) {
    margin-right: 8px;
  }

  &--yellow {
    background-color: $color-yellow;
  }
}

.btn-icon {
  @include btn;
  width: 40px;
}

.input {
  height: 40px;
  border-radius: $border-radius;
  border: $border;
  background-color: #f2f7fb;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: $color-dark-gray;
  padding: 0 20px;
}

.lbl {
  padding-right: 8px;
  margin-right: 8px;
  border-right: $border;
  font-weight: bold;
  color: $color-light-gray;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.spinner {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 32px;
  height: 32px;
  background-image: url("/assets/images/spinner.svg");
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
