$border-radius: 8px;
$border: solid 1px #dfecf1;
$modal-backdrop: rgba(0, 0, 0, 0.4);
$color-light-gray: #889baa;
$color-white: #ffffff;
$color-hover: #F2F7F9;
$color-yellow: #fbbd08;
$color-dark-gray: #52626f;
$color-blue: #6986ff;
$color-background: #F2F7FB;
