$border-radius: 8px;
$border-card: solid 1px #e3eaef;


$color-text-primary: #0b1c2b;
$color-text-primary-light: #889baa;

$color-text-secondary: #52626f;
$color-text-secondary-light: #8e969e;

$clr-success: #64c697;
$clr-danger: #e87a7d;
$clr-warning: #ff637b;
$clr-blue: #6986ff;

$clr-very-sad: #ff686e;
$clr-sad: #ffaf63;
$clr-good: #67e0b4;
$clr-very-good: #67cfe0;

$color-card-background: #ffffff;
$color-text-title-primary-light: #8e969e;
