<div class="pagination">
  <span class="page" [ngClass]=" {'page--disabled' : pageSelected === 1}" (click)="onChangePage(pageSelected - 1)">
    <i class="material-icons">keyboard_arrow_left</i>
  </span>
  <ng-container *ngFor="let number of arrayPages">
    <span class="page" (click)="onChangePage(number)" [ngClass]="{'page--selected' : number === pageSelected}">
      {{number}}
    </span>
  </ng-container>
    <span class="page" (click)="onChangePage(pageSelected + 1)"
      [ngClass]=" {'page--disabled' : pageSelected === arrayPages.length }">
      <i class="material-icons">keyboard_arrow_right</i>
    </span>
</div>
