@import "src/styles/core.scss";

.dropdown {
  position: relative;

   &-toggle {
    cursor: pointer;
  }

  &-show {
    @include card();
    padding: 8px 0;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    box-shadow: 0 8px 34px 0 rgba(82, 98, 111, 0.1);

    &__item {
      padding: 8px;

      &:hover {
        background-color: #F2F7F9;
      }
    }
  }
}
