@import "src/styles/mixins.scss";

.dropdown {
  position: relative;

   &-toggle {
    cursor: pointer;
    width: 120px;
  }

  &-show {
    @include dropdown;
    padding: 8px 0;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    width: 150px;

    &__item {
      padding: 8px;

      &:hover {
        background-color: $color-hover;
      }
    }
  }
}
