@import "src/styles/variables.scss";

.sort-items {
  display: flex;
  align-items: center;

  &__label {
    padding-right: 8px;
    margin-right: 8px;
    border-right: $border;
    color: $color-light-gray;
  }
}
