@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.filters {
  display: flex;
  align-items: center;

  &__label {
    padding-right: 8px;
    margin-right: 8px;
    border-right: $border;
    font-weight: bold;
    color: $color-light-gray;
  }

  &__button {
    position: relative;
  }

  &__pills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__selector {
    @include dropdown;
    position: absolute;
    z-index: 100;
    margin-left: 1px;
    top: 40px;
    padding: 8px;
  }
}
