@import "src/styles/core.scss";

.filters {
  display: flex;
  position: relative;
  align-items: center;

  &__pills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__selector {
    position: absolute;
    z-index: 100;
    margin-left: 1px;
    border: 1px solid #dcdddd;
    border-radius: 8px;
    top: 40px;
    background-color: #ffffff;
    padding: 8px;
    width: 240px;

  }
}
