@import "src/styles/core.scss";

.filters {
  display: flex;
  align-items: center;

  &__label {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #dcdddd;
    font-weight: bolder;
    color: #889baa;
  }

  &__button {
    position: relative;
  }

  &__pills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__selector {
    position: absolute;
    z-index: 100;
    margin-left: 1px;
    border: 1px solid #dcdddd;
    border-radius: 8px;
    top: 40px;
    background-color: #ffffff;
    padding: 8px;
    box-shadow: 0 8px 34px 0 rgba(82, 98, 111, 0.1);
  }
}
