.filter__form {
  display: flex;
  flex-direction: column;
  padding: 8px;

  &-input {
    margin-bottom: 8px;
  }

  &-options {
    display: flex;
    margin-top: 8px;

    button {
      margin-left: 8px;
    }
  }
}
