<form class="filter__form" [formGroup]="filterForm">
  <div class="ui input focus filter__form-input">
    <input type="text" [placeholder]="'FILTERS.placeholder' | translate" formControlName="text">
  </div>
  <div class="ui input action filter__form-options">
    <app-dropdown [items]='getFilterAvailables()' (selectItem)="onChangeKey($event)" [placeholder]="'FILTERS.filter'">
    </app-dropdown>
    <button class="ui primary icon button" [disabled]="!filterForm.valid" (click)="onFilterSelected()">
      <i class="search icon"></i>
    </button>
  </div>
</form>
