@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";
.favorite-items-modal {
  position: fixed;
  z-index: 1;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $modal-backdrop;

  &__container {
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 350px;
    @include card;
    box-shadow: none;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    border-top: $border;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: $border;
    margin-bottom: 8px;
    min-height: 52px;
  }

  &__search {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__empty {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &__item {
    &-container {
      display: flex;
      overflow: auto;
      align-items: center;
      height: 100%;
    }

    &-description {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &-img {
      width: 150px;
      object-fit: cover;
    }
    display: flex;
    margin: 16px;
    flex: 1 1 0;
    height: 150px;
    max-width: 270px;

    :not(:last-child) {
      margin-right: 8px;
    }
  }
}
