<div class="favorite-items-modal">
  <div class="favorite-items-modal__container">
    <div class="favorite-items-modal__header">
      <span class="title">
        {{ 'FAVORITES_MODAL.title' | translate}}
      </span>
      <ng-container *ngIf="items.length">
        <div class="favorite-items-modal__search">
          <span class="lbl">
            <i class="material-icons">search</i>
          </span>
          <input class="input" type="text" [(ngModel)]="textSearch" [placeholder]="'FAVORITES_MODAL.search' | translate" (keyup)="onTextSearch()">
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="items.length; else noItems">
      <div class="favorite-items-modal__item-container">
        <ng-container *ngIf="itemsShown.length; else noItems">
          <ng-container *ngFor="let item of itemsShown">
            <div class="favorite-items-modal__item">
              <img [src]="item.image" class="favorite-items-modal__item-img">
              <div class="favorite-items-modal__item-description">
                <div class="title">{{ item.title }}</div>
                <div (click)="onDeleteFavItem(item)">
                  <button class="btn-icon">
                    <i class="material-icons">delete</i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #noItems>
      <div class="favorite-items-modal__empty">
        <span class="title">
          {{ getText() | translate }}
        </span>
        </div>
    </ng-template>
    <div class="favorite-items-modal__footer">
      <button class="btn" (click)="onClose()">
        {{ 'FAVORITES_MODAL.accept' | translate}}
      </button>
    </div>
  </div>
</div>
